extends ../layout

block content
	div(class="container")
		h2.
			#{title}

		form(name="addproject", method="post", action="/projects")
			div
				label Name:
					input(type="text", placeholder="Name", name="name" class="form-control" required)
				label(for=description) Description:
					input#inputDescription(type="text", placeholder="Description", name="description" class="form-control" required)
				label(for=price) Price:
					input#inputPrice(type="number", placeholder="Price", name="price" class="form-control" required)
			div
				label(for=finishedWorks) Finished Works:
					input#inputFinishedWorks(type="text", placeholder="Finished Works", name="finishedWorks" class="form-control" required)
				label(for=startTime) Start Time:
					input#inputStartTime(type="date", name="startTime" class="form-control" required)
				label(for=endTime) End Time:
					input#inputEndTime(type="date", name="endTime" class="form-control" required)
				input(type="checkbox", name="archived")
				label(for=archived) Archived
			div(class="form-group row")
			p
				p Members
					
						- each user, i in users
							div(class="form-check")
								input#inputMember(type="checkbox", name="member[]", value=user.username)
								label(for=member)=user.username
			p
				button(type="submit") SUBMIT